Package: com.gamzakovdev.sberjailbilbreakbypass
Name: SberJailbreakBypass
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Aleksey Osipov
Author: Aleksey Osipov
Section: Tweaks
