Package: com.gamzakovdev.sberjailbilbreakbypass
Name: SberJailbreakBypass
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Jailbreak Detection bypass for ios 12 and above. (64 bit only)
Maintainer: Gamzakov <justgamzakov@gmail.com>
Author: Gamzakov <justgamzakov@gmail.com>
Section: Tweaks
Version: 0.0.2-1+debug
Installed-Size: 136
