Package: com.gamzakovdev.sberjailbilbreakbypass
Name: SberJailbreakBypass
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Aleksey Osipov
Author: Aleksey Osipov
Section: Tweaks
Version: 0.0.1-2+debug
Installed-Size: 168
