Package: com.gamzakovdev.sberjailbilbreakbypass
Name: SberJailbreakBypass
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Jailbreak Detection bypass for ios 12 and above. (64 bit only)
Maintainer: Aleksey Osipov
Author: Aleksey Osipov
Section: Tweaks
Version: 0.0.1-6+debug
Installed-Size: 136
